name: .NET CI with Coverage

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore ConsoleMonopoly.sln

    - name: Build
      run: dotnet build ConsoleMonopoly.sln --no-restore

    - name: Test with Coverage
      run: |
        dotnet test ConsoleMonopoly.sln \
        --no-build \
        --verbosity normal \
        /p:CollectCoverage=true \
        /p:CoverletOutputFormat=opencover \
        /p:Threshold=70 \
        /p:ThresholdType=line